<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CODE</title>
    <%- include("partials/head.html") %>
    <link rel="stylesheet" href="/css/linux.css" />
  </head>
  <body class="linux">
    <%- include("partials/navigation.html") %>

    <div class="container mt-4 mb-4">
      <div class="row bg-dark text-white p-5 text-center">
        <div class="col-md-6">
          <i class="fab fa-linux fa-10x"></i>
          <h3>GNU/LINUX</h3>
        </div>

        <div class="col-md-6">
          <p class="h3">
            This is a website where found information about programming,
            technologies used will be shown for web development, as html5, css,
            javascript and resources within them. This website will be
            constantly updated, according to what I learn.
          </p>
        </div>
      </div>

      <div class="row bg-dark text-white p-5 text-center">
        <div class="col-md-4 h-icon p-3 shadow-lg">
          <a class="text-decoration-none text-light" href="#"
            ><i class="fab fa-suse fa-5x text-success"></i>
            <h3>OPENSUSE</h3></a
          >
        </div>
        <div class="col-md-4 h-icon p-3 shadow-lg">
          <a class="text-decoration-none text-light" href="#"
            ><i class="fab fa-ubuntu fa-5x text-danger"></i>
            <h3>UBUNTU</h3></a
          >
        </div>
        <div class="col-md-4 h-icon p-3 shadow-lg">
          <a class="text-decoration-none text-light" href="#"
            ><i class="fab fa-fedora fa-5x text-info"></i>
            <h3>FEDORA</h3></a
          >
        </div>
      </div>

      <%- include("components/lin-content.html") %>
    </div>

    <%- include("partials/footer.html") %>
  </body>
</html>
