/* ICONS HEADER */
.icon-code {
  font-size: 35px;
  color: #f0f8ff;
}

.icon-html {
  font-size: 35px;
  color: #dc3545;
}

.icon-css {
  font-size: 35px;
  color: #14b4b4;
}

.icon-bootstrap {
  font-size: 30px;
  color: #6c14b4;
}

.icon-js {
  font-size: 35px;
  color: #e2ce17;
}

.icon-node {
  font-size: 40px;
  color: #25b811;
}

.icon-packages {
  font-size: 30px;
  color: #683a05;
}

.icon-linux {
  font-size: 33px;
  color: white;
}
