<div class="row bg-dark text-white p-5 text-center mt-2">
  <div class="col-md-12">
    <h3>GENERAL COMANDS OF LINUX</h3>
  </div>
</div>

<div class="row bg-dark text-white p-5">
  <div class="col-md-4">
    <h4>Themes</h4>
    <div>
      <a class="text-decoration-none d-block" href="#files"
        ><p class="h5">Files</p></a
      >

      <a class="text-decoration-none d-block" href="#path"
        ><p class="h5"><b class="text-light">-</b> Path</p></a
      >

      <a class="text-decoration-none d-block" href="#cd"
        ><p class="h5"><b class="text-light">-</b> Navigate directories</p></a
      >

      <a class="text-decoration-none d-block" href="#mkdir"
        ><p class="h5"><b class="text-light">-</b> Create directory</p></a
      >

      <a class="text-decoration-none d-block" href="#ls"
        ><p class="h5"><b class="text-light">-</b> List directory contents</p>
      </a>
    </div>
    <a class="text-decoration-none d-block" href="#viewFiles"
      ><p class="h5">View files</p></a
    >
  </div>

  <div class="col-md-8">
    <div id="files">
      <h3>Files</h3>
      <hr class="bg-warning" />

      <!-- starts path -->
      <div id="path">
        <p class="h5">- &nbsp; PATH, working directory (folder) you’re in</p>
        <p class="col-md-10 bg-black text-success p-3">$ &nbsp; pwd</p>
      </div>

      <hr class="col-md-10" />

      <!-- starts CD -->
      <div id="cd">
        <div>
          <p class="h5">
            - &nbsp; To navigate through the Linux files and directories
          </p>
        </div>

        <div>
          <p>To go directory (with example positioned in home)</p>
          <p class="col-md-10 bg-black text-success p-3">
            $ &nbsp; cd < route >
          </p>
          <p class="col-md-10 bg-black text-success p-3">
            $ &nbsp; cd Downloads
          </p>
          <p class="col-md-10 bg-black text-success p-3">
            $ &nbsp; cd Downloads/dirExample
          </p>
        </div>

        <div>
          <p>-- &nbsp; To go straight to the home folder</p>
          <p class="col-md-10 bg-black text-success p-3">$ &nbsp; cd</p>
        </div>

        <div>
          <p>-- &nbsp; To move one directory up</p>
          <p class="col-md-10 bg-black text-success p-3">$ &nbsp; cd ..</p>
        </div>

        <div>
          <p>-- &nbsp; To move to your previous directory</p>
          <p class="col-md-10 bg-black text-success p-3">$ &nbsp; cd -</p>
        </div>
      </div>

      <hr class="col-md-10" />

      <!-- starts mkdir -->
      <div id="mkdir">
        <div>
          <p class="h5">- &nbsp; Create directory</p>
          <p class="col-md-10 bg-black text-success p-3">
            $ &nbsp; mkdir < directoy name >
          </p>
        </div>
      </div>

      <hr class="col-md-10" />

      <!-- starts ls -->
      <div id="ls">
        <div>
          <p class="h5">- &nbsp; List directory contents</p>
          <p class="col-md-10 bg-black text-success p-3">$ &nbsp; ls</p>
        </div>

        <div>
          <p>-- &nbsp; List with details</p>
          <p class="col-md-10 bg-black text-success p-3">$ &nbsp; ls -l</p>
        </div>
      </div>
    </div>

    <div id="viewFiles">
      <h4>View files</h4>
      <hr class="bg-warning" />
    </div>
  </div>
</div>
